##############################
# LANGCHAIN 0.3 ECOSYSTEM
##############################
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.29
langchain-text-splitters==0.3.9
langchain-google-genai
langchain-groq==0.3.7
langchain-pinecone==0.2.3
#langchain-tavily
##############################
# PDF / DOC PROCESSING
##############################
pymupdf
python-docx

##############################
# GOOGLE / GEMINI
##############################
google-generativeai

##############################
# LANGGRAPH
##############################
langgraph==0.2.34

##############################
# VECTOR STORES / MEMORY
##############################
faiss-cpu
redis
weaviate-client
pinecone==5.4.2

##############################
# LLM / EMBEDDINGS / NLP
##############################
transformers
sentence-transformers
tiktoken
pydantic==2.9.2
python-dateutil

##############################
# SEARCH / FINANCE
##############################
tavily-python==0.7.13
yfinance>=0.2.40
polygon==1.2.8
requests==2.32.5
tenacity>=8.2.0

##############################
# PDF / DOC PROCESSING
##############################
pypdf
pdfplumber==0.10.3
pdf2image
pyyaml
python-dotenv
spacy

##############################
# SERVER
##############################
fastapi==0.110.0
uvicorn==0.30.3

##############################
# ML / DATA
##############################
numpy
pandas
scikit-learn>=1.3.0

##############################
# STREAMLIT
##############################
streamlit==1.30.0

##############################
# DATABASES
##############################
psycopg2-binary


python-multipart
google-cloud-documentai
google-cloud-storage